<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.email.mapper.UserEmailMapper">
    
    <resultMap type="UserEmail" id="UserEmailResult">
        <result property="mail"    column="mail"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectUserEmailVo">
        select mail, id from user_email
    </sql>

    <select id="selectUserEmailList" parameterType="UserEmail" resultMap="UserEmailResult">
        <include refid="selectUserEmailVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectUserEmailById" parameterType="Long" resultMap="UserEmailResult">
        <include refid="selectUserEmailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserEmail" parameterType="UserEmail">
        insert into user_email
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mail != null">mail,</if>
            <if test="id != null">id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mail != null">#{mail},</if>
            <if test="id != null">#{id},</if>
         </trim>
    </insert>

    <update id="updateUserEmail" parameterType="UserEmail">
        update user_email
        <trim prefix="SET" suffixOverrides=",">
            <if test="mail != null">mail = #{mail},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserEmailById" parameterType="Long">
        delete from user_email where id = #{id}
    </delete>

    <delete id="deleteUserEmailByIds" parameterType="String">
        delete from user_email where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>